<h2>Login</h2>
<p>{{loggedIn}}</p>

<h4>Game</h4>
<p>{{game.id}}</p>
<p>{{game.gameDate}}</p>
<p>{{game.notes}}</p>
<p>{{game.win}}</p>
<p>{{game.score}}</p>
<p>{{game.assists}}</p>
<p>{{game.rebounds}}</p>
<p>{{game.points}}</p>
<p>{{game.user_id}}</p>
<p>{{game.createdAt}}</p>
<p>{{game.updatedAt}}</p>

<h4>User</h4>
<p>{{game.user.id}}</p>
<p>{{game.user.username}}</p>
<p>{{game.user.email}}</p>

<script src="./../js/logout.js"></script>